section {
  width: 100%;
}

section h2 {
  padding: 0 0 4vh;
  text-align: center;
}

.content {
  padding: 5vh;
  height: 47.5vh;
  width: 70%;
  min-width: 1080px;
  overflow: hidden;
}

.content div {
  height: 100%;
}

.content div.v {
  width: 100%;
  text-align: justify;
  justify-content: space-between;
}

section:nth-of-type(2n - 1) {
  color: var(--bg);
  background: linear-gradient(45deg, transparent, #a5ebdeba);
  background-color: var(--turq);
}

.contentImage {
  flex: none;
  height: 35svh;
  aspect-ratio: 1;
  background-color: white;
}

.contentImage.l {
  margin-right: 4vh;
}

.contentImage.r {
  margin-left: 4vh;
}

.aboutInfo {
  justify-content: center !important;
}

.whyCards {
  flex-wrap: wrap;
  justify-content: center;
}

.whyCard {
  width: 40% !important;
  height: 60px !important;
  font-weight: bold;
  text-align: center !important;
  justify-content: center !important;
  align-items: center;
  border: 1px solid var(--bg);
  border-radius: 8px;
  margin: 4px 8px;
  background-color: #ffffff30;
}

.formContainer {
  width: 70%;
}

form {
  width: 100%;
}

.formError {
  height: 16px;
}

.sendButton {
  font-weight: 600;
  align-self: flex-end;
  cursor: pointer;
}

.sendButton:hover {
  color: var(--lemon);
}

input, textarea {
  outline: none;
  border: none;
  background: var(--grass);
  margin: 8px;
  padding: 1vh;
  border-radius: 6px;
  width: 80%;
  font-family: Jost;
}

textarea {
  min-height: 120px;
  max-height: 240px;
  min-width: 80%;
  max-width: 80%;
}

@media (orientation: landscape) and (max-width: 1400px) {
  .leavesFrameLeft {
    left: -10%;
  }

  .leavesFrameRight {
    right: -10%;
  }
}

@media (orientation: landscape) and (max-width: 1300px) {
  .content.open {
    padding: 12vh 6vh;
  }
}

@media (max-width: 1024px) {
  .content.open {
    padding: 4vh;
    height: unset;
  }

  .treeImage,
  .frameLeft,
  .leavesFrameLeft,
  .leavesFrameRight,
  .leavesFrameLeftContact,
  .leavesFrameRightContact,
  .leavesImage {
    display: none;
  }

  .future {
    flex-direction: column;
    width: 100%;
  }

  #unlockImage {
    margin-left: unset;
    margin: unset;
    height: 60svh;
  }

  .howitworksInfo {
    width: 100%;
  }

  .howitworksImage {
    width: 100%;
  }

  .instructorCard {
    flex-direction: column;
  }

  .instructorImage {
    width: 80%;
    margin-right: 4vh;
  }

  .priceSection {
    text-align: center;
  }

  .priceInfo {
    margin-top: 2vh;
    flex-direction: column;
  }

  .priceCard {
    height: unset;
    text-align: left;
    margin: 2vh;
  }

  .contactCard {
    width: 100% !important;
  }

  .formContainer {
    width: 90%;
  }
}